doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet' href='/css/general.css')
  link(rel='stylesheet' href='/css/overview.css')
  link(rel='stylesheet' href='/css/projectStatus.css')
  link(rel="shortcut icon" type="image/png" href="/img/favicon.png")
  title Overview
section.nav-section
  .info
    .time
      span Time:
      span#time--text.time--text -
    .identity
      p
        span.role= user.role.toUpperCase()
        | : 
        span.user-name= user.name
  .menu
    ul.menu-list
      li
        a.menu-list-item(href='#') Schedule
      li
        a.menu-list-item(href='#') Report
      li
        a.menu-list-item(href='#') Productivity
      li
        a.menu-list-item(href='#') Timesheet
section.project-status-section
  .project-status
    .container-left
      .project-status-table
        .row.header
          h2 Grader
          h2 Mins
          h2 Count
          h2 Pop-up
          h2 Project ID
          h2 Locale
        each grader in graders 
          .row(data-grader=`${grader.name}`)
            h3= grader.name
            p -
            p -
            p -
            p -
            p -
    .container-right
      div
        label(for='project-select') Choose a project: 
      select#project-select(name='projects')
        option(value='') Please choose a project
        each project_data, index in project_datas 
          option.project(value=index data-project_id=`${project_data.project_id}` data-link=`${project_data.link}` data-locale=`${project_data.locale}`)= `${project_data.name}`
      button.refreshPrjStatus &#x21bb;
      button.goProject Go
      h1.message
script(src='/js/bundle.js')